.headerPic {
    height: 963px;
}

h2 {
    color: #404040;
    font-family: "Metropolis-Bold";
    font-size: 36px;
    font-weight: 700;
    padding-left: 147px;
}

p {
    color: #3d3d3d;
    font-family: "Metropolis-Medium";
    font-size: 24px;
    font-weight: 500;
    line-height: 49px;
    padding-left: 147px;
}

.whiteRectangle {
    width: 722px;
    height: 745px;
    box-shadow: 0 10px 59px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin-left: 83px;
    margin-top: -200px;  
}

.whiteRectangle h2 {
    padding-left: 64px;
    padding-top: 54 px;
}

.whiteRectangle p {
    padding-left: 64px;
    padding-top: 45 px;
}

.whiteRectangle .purpleLine {
    margin-left: 64px;
}

.purpleLine {
    width: 117px;
    height: 5px;
    background-color: rgba(122, 80, 255, 0.53);
    margin-left: 147px;
    margin-top: 27px;
}

.readMore {
    width: 170px;
    height: 27px;
    color: #7a50ff;
    font-family: "Metropolis Semi Bold";
    font-size: 27px;
    font-weight: 600;
} 

.arrow {
    float: right;
    margin-top: 10px;
}

.lightPurple {
    height: 530px;
    background-color: rgba(37, 87, 255, 0.03);
    margin-top: 260px;
}

.fourCol {
    padding-top: 86px;
    padding-left: 161px;
    text-align: center;
    
}

.fourCol th {
    width: 214px;
    height: 68px;
    color: #7a50ff;
    font-family: "Metropolis-Bold";
    font-size: 58px;
    font-weight: 700;
}

.fourCol td {
    width: 89px;
    height: 33px;
    color: #404040;
    font-family: "Metropolis Semi Bold";
    font-size: 33px;
    font-weight: 600;
}

.projects {
    margin-top: 140px;
}

.aToZBox {
    height: 1047px;
    background-color: rgba(98, 37, 54, 0.03);
    margin-top: 120px;
}