.headerPic {
    height: 963px;
}

h2 {
    color: #404040;
    font-family: "Metropolis-Bold";
    font-size: 36px;
    font-weight: 700;
    padding-left: 147px;
}

p {
    color: #3d3d3d;
    font-family: "Metropolis-Medium";
    font-size: 24px;
    font-weight: 500;
    line-height: 49px;
    padding-left: 147px;
}

.whiteRectangle {
    width: 722px;
    height: 745px;
    box-shadow: 0 10px 59px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin-left: 83px;
    margin-top: -200px;  
}

.whiteRectangle h2 {
    padding-left: 64px;
    padding-top: 54 px;
}

.whiteRectangle p {
    padding-left: 64px;
    padding-top: 45 px;
}

.whiteRectangle .purpleLine {
    margin-left: 64px;
}

.purpleLine {
    width: 117px;
    height: 5px;
    background-color: rgba(122, 80, 255, 0.53);
    margin-left: 147px;
    margin-top: 27px;
}

.readMore {
    width: 170px;
    height: 27px;
    color: #7a50ff;
    font-family: "Metropolis Semi Bold";
    font-size: 27px;
    font-weight: 600;
} 

.arrow {
    float: right;
    margin-top: 10px;
}

.lightPurple {
    height: 530px;
    background-color: rgba(37, 87, 255, 0.03);
    margin-top: 260px;
}

.fourCol {
    padding-top: 86px;
    padding-left: 161px;
    text-align: center;
    
}

.fourCol th {
    width: 214px;
    height: 68px;
    color: #7a50ff;
    font-family: "Metropolis-Bold";
    font-size: 58px;
    font-weight: 700;
}

.fourCol td {
    width: 89px;
    height: 33px;
    color: #404040;
    font-family: "Metropolis Semi Bold";
    font-size: 33px;
    font-weight: 600;
}

.projects {
    margin-top: 140px;
}

/* .aToZBox {
    height: 300px ;
    background-color: rgba(98, 37, 54, 0.03);
    margin-top: 120px;
} */

.card-padding {
    margin: 10px;
    padding-bottom: 100px;
}

.col-sm {
    padding-top: 50px;
}

.card-text {
    padding-left: 0px;
    line-height: normal;
}

.cardHover:hover{
    /* width: 120%;
    height: 120%; */
    animation-duration: 2s;
    animation-name: bounce-in;    
}

/* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes hvr-wobble-skew {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  .hvr-wobble-skew {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
    -webkit-animation-name: hvr-wobble-skew;
    animation-name: hvr-wobble-skew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  /* Pop */
@-webkit-keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  .hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  

